<div class="topbar">
    <div class="container">
        <div class="row">
            <div class="col-m-4">
                <h1 ng-click="selectTab('blog')" class="push-left">Babbles, Babbles, Babbles!</h1>
            </div>
            <div class="offset-m-4 col-m-4">
                <nav role='navigation' class="push-right">
                    <ul>
                        <li><a href="#" ng-click="selectTab('blog')">See All Posts</a></li> //
                        <li><a href="#" ng-click="selectTab('new')">Add New Post</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

<div class="content">
    <div class="container">
        <div class="row">
            <ul class="post-grid" ng-show="isSelected('blog')">
                <li ng-repeat="babble in babbles" class="col-s-4" ng-class="{ 'reset-s' : $index%3==0 }" ng-click="selectTab($index)">
                    <h3>{{babble.title}}</h3>
                    <p>{{babble.body[0] | limitTo:70}}...</p>
                    <p class="fa fa-comment push-left">
                        {{babble.comments.length}}
                    </p>
                    <p class="fa fa-heart push-right">
                        {{babble.likes}}
                    </p>
                </li>
            </ul>
            <div class="post" ng-repeat="babble in babbles" ng-show="isSelected($index)">
                <div>
                    <h2>{{babble.title}}</h2>
                    <img ng-src="{{babble.image}}" />
                    <cite>by {{babble.author}} on {{babble.createdOn | date}}</cite>
                    <div class="post-body">
                        <p ng-repeat="paragraph in babble.body">
                            {{paragraph}}
                        </p>
                    </div>
                </div>
                <div class="comments" ng-controller="commentsController">
                    <button class="fa fa-heart" ng-click="babble.likes = babble.likes+1"> {{babble.likes}}</button>
                    <h3>Comments</h3>
                    <ul>
                        <li ng-repeat="comment in babble.comments">
                            "{{comment.body}}"
                            <cite>- <b>{{comment.author}}</b></cite>
                        </li>
                    </ul>
                    <form name="commentForm" ng-submit="commentForm.$valid && addComment(post)" novalidate>


                        <h4>Add Comment</h4>
                        <textarea ng-model="comment.body" cols="30" rows="10" required></textarea>
                        <label for="">by:</label>
                        <input type="text" ng-model="comment.author" required placeholder="Name" />

                        <input type="submit" value="Submit" />
                    </form>
                </div>
            </div>
        </div>
        <div class="post" ng-show="isSelected('new')">
            <h2>Add New Babble</h2>

            <form name="postForm" ng-submit="addBabble()" novalidate>
                <h4>Title</h4>
                <input type="text" ng-model="babble.title" />
                <h4>Body</h4>
                <textarea ng-model="babble.body" ng-list="/\n/" rows="10"></textarea>
                <label for="">Featured Image URL</label>
                <input type="text" ng-model="babble.image" placeholder="http://placekitten.com/g/2000/600" />
                <label for="">by:</label>
                <input type="text" ng-model="babble.author" placeholder="Author Name" required />

                <input type="submit" value="Submit" />
            </form>

        </div>
    </div>
</div>