<div class="container">

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">
    </div>

    <div>
        <h1>Welcome to Broadlawn Babblers</h1>

        <p>Think you know your neighbors??  Well, I'm guessing that you don't! Here you'll find news on the comings-and-goings of the denizens of Broadlawn Estates - and much much more!!!</p>
        <p>As you browse the babbles herein, you'll come to realize that these people are capable of almost anything! Salacious tales of pettiness and moral turpitude are what awaits you...</p>
        <p>
            Oh, but, it's only fair to note that, in the unlikely event that you yourself engage in one or more the 'catalogued behaviors', you
            may well end up reading about yourself!!
        </p>
        <p>
            <a class="btn btn-lg btn-danger" href="/babbles" role="button">Enter now &raquo;</a><span>&nbsp;(you know you want to!)</span>
        </p>
    </div>
</div> <!-- /container -->